@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  }
  .mini-container {
    max-width: 1158px;
  }
  .container.flex {
    max-width: 1158px;
  }
  .section {
    padding: 120px 0;
  }
  .logo{
    margin-right: 76px;
      }
      .heder-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 40px;
        align-items: center;
      }
      .contakt{
        margin-left: auto;
      }
      .contakt-list {
        display: flex;
        flex-direction: none;
        flex-wrap: nowrap;
        align-items: center;
        gap: 40px;
        justify-content: flex-end;
      }
      .contakt-item {
        font-size: 16px;
        line-height: 1.5;
      }
  .hero-container {
    max-width: 100%;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_people-office.jpg);
    max-width: 100%;
    padding-top: 187px;
    padding-bottom: 188px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .hero-titel {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--btn-brand-color--);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
    margin-top: 0;
  }
  .about-list{
    flex-wrap: nowrap;
    justify-content: center;
}
.about-titel {
  font-size: 20px;
  line-height: 1.2;
}
.about-item:before {
  display: block;
  content: "";
  height: 112px;
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color--);
  margin-bottom: 8px;
}
.icon-antena:before {
  background-image: url(../images/antenna.svg);
}
.icon-clok::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram:before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut:before {
  background-image: url(../images/astronaut.svg);
}
.section-services {
  padding-top: 0px;
}
.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}
.services-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  flex-wrap: nowrap;
  margin-bottom: 0px;
}
.container-footer {
  width: 100%;
  flex-wrap: nowrap;
  row-gap: none;
  gap: 65px;
}
.footer{
padding-left: 84px;
}
.container-footer:last-child{
  gap: none;
}
.subscribe{
  width: 453px;
}
.titel-subscribe {
  margin-bottom: 16px;
}
.subscribe-wrap {
  flex-wrap: nowrap;
}
}