@media screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }
  
  .hero-container {
    max-width: 100%;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_people-office.jpg);
    max-width: 1200px;
    padding-top: 111px;
    padding-bottom: 108px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
.section-services {
  padding-top: 0px;
}
.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}
.services-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.container-footer {
  width: 100%;
  flex-wrap: nowrap;
  row-gap: none;
  gap: 80px;
}
.footer-conteiner{
  margin-right: 40px;
}
.subscribe{
  width: 453px;
}
.titel-subscribe {
  margin-bottom: 16px;
}
.subscribe-wrap {
  flex-wrap: nowrap;
}
}