@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .container.flex {
    max-width: 736px;
  }
  .mini-container {
    max-width: 736px;
  }
  .heder-container {
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
  }
  .mob-menu-open {
    display: none;
    
  }
  .heder-item {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: var(--menu-brand-color--);
    margin: 0;
    border: 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function--);
  }
  .heder-item:hover,
  .heder-item:focus {
    color: #404bbf;
  }
  .logo{
margin-right: 120px;
  }
  .heder-flex {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 72px;
  }
  .heder-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    margin-right: 100px;
  }
  .contakt-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .contakt-item {
    border: 0px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--menu-brand-color--);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function--);
  }

  .contakt-item:hover,
  .contakt-item:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
  }
  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--aktiv-heder--);
    left: 0;
    bottom: -31px;
  }
  .mini-container {
    max-width: 552px;
  }
  .hero-container {
    max-width: 100%;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_people-office.jpg);
    max-width: 100%;
    min-height: 436px;
    padding-top: 111px;
    padding-bottom: 108px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_people-office_tablet-2x.jpg);
    }
  }
  .about-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
column-gap: 24px;
row-gap: 72px;
    padding-left: 16px;
    padding-right: 16px;
}
.about-list:last-child{
    row-gap: none;
}
  .about-item {
    width: calc((100% - 24px)/2);
    margin-bottom: 0px;
  }
  .about-titel {
    text-align: start;
  }
  .about-text {
    font-weight: 500;
  }
  .team-list {
    flex-direction: row;
    flex-basis: calc((100% -24px) / 2);
    column-gap: 24px;
  }
  .customers-list{
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
  .container-footer {
    width: 552px;
    flex-basis: calc((100% - 2 * 16px) / 3);
    gap: 24px;
    justify-content: flex-start;
    text-align: start;
  }
  .footer{
    display: block;
    padding-left: 108px;
  }
  .footer-text {
    text-align: start;
    margin-bottom: 72px;
  }
  .footer-social-conteiner {
    text-align: start;
  }
  .titel-subscribe {
    text-align: start;
  }
  .subscribe-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
  }
}
